@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .nav-link {
    @apply text-white text-2xl block mt-2 hover:text-[#7280a7] transition duration-200 ease-in hover:underline hover:underline-offset-2;
  }

  .nav-link__active {
    @apply text-[#adc2ff] font-semibold
  }
}
